@use 'sass:color';
@use './reset.scss';

$colors: (
  primary: #409eff,
  success: #67c23a,
  warning: #e6a23c,
  danger: #f56c6c,
  info: #909399,
);

:root {
  /* colors */
  --moe-color-white: #ffffff;
  --moe-color-black: #000000;
  --moe-bg-color: #ffffff;
  --moe-bg-color-page: #f2f3f5;
  --moe-bg-color-overlay: #ffffff;
  --moe-text-color-primary: #303133;
  --moe-text-color-regular: #606266;
  --moe-text-color-secondary: #909399;
  --moe-text-color-placeholder: #a8abb2;
  --moe-text-color-disabled: #c0c4cc;
  --moe-border-color: #dcdfe6;
  --moe-border-color-light: #e4e7ed;
  --moe-border-color-lighter: #ebeef5;
  --moe-border-color-extra-light: #f2f6fc;
  --moe-border-color-dark: #d4d7de;
  --moe-border-color-darker: #cdd0d6;
  --moe-fill-color: #f0f2f5;
  --moe-fill-color-light: #f5f7fa;
  --moe-fill-color-lighter: #fafafa;
  --moe-fill-color-extra-light: #fafcff;
  --moe-fill-color-dark: #ebedf0;
  --moe-fill-color-darker: #e6e8eb;
  --moe-fill-color-blank: #ffffff;

  @each $name, $color in $colors {
    --moe-color-#{$name}: #{$color};
    @for $i from 3 to 9 {
      --moe-color-#{$name}-light-#{$i}: #{color.mix(#fff, $color, $i * 10%)};
    }
    --moe-color-#{$name}-dark-2: #{color.mix(#000, $color, 20%)};
  }

  /* border */
  --moe-border-width: 1px;
  --moe-border-style: solid;
  --moe-border-color-hover: var(--moe-text-color-disabled);
  --moe-border: var(--moe-border-width) var(--moe-border-style) var(--moe-border-color);
  --moe-border-radius-base: 4px;
  --moe-border-radius-small: 2px;
  --moe-border-radius-round: 20px;
  --moe-border-radius-circle: 100%;

  /*font*/
  --moe-font-size-extra-large: 20px;
  --moe-font-size-large: 18px;
  --moe-font-size-medium: 16px;
  --moe-font-size-base: 14px;
  --moe-font-size-small: 13px;
  --moe-font-size-extra-small: 12px;
  --moe-font-family:
    'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
  --moe-font-weight-primary: 500;

  /*disabled*/
  --moe-disabled-bg-color: var(--moe-fill-color-light);
  --moe-disabled-text-color: var(--moe-text-color-placeholder);
  --moe-disabled-border-color: var(--moe-border-color-light);

  /*animation*/
  --moe-transition-duration: 0.4s;
  --moe-transition-duration-fast: 0.2s;
}
