.moe-button-group {
  --moe-button-group-border-color: var(--moe-border-color-lighter);
}
.moe-button {
  --moe-button-font-weight: var(--moe-font-weight-primary);
  --moe-button-border-color: var(--moe-border-color);
  --moe-button-bg-color: var(--moe-fill-color-blank);
  --moe-button-text-color: var(--moe-text-color-regular);
  --moe-button-disabled-text-color: var(--moe-disabled-text-color);
  --moe-button-disabled-bg-color: var(--moe-fill-color-blank);
  --moe-button-disabled-border-color: var(--moe-border-color-light);
  --moe-button-hover-text-color: var(--moe-color-primary-dark-2);
  --moe-button-hover-bg-color: var(--moe-color-primary-light-9);
  --moe-button-hover-border-color: var(--moe-color-primary-light-7);
  --moe-button-active-text-color: var(--moe-color-primary-dark-2);
  --moe-button-active-border-color: var(--moe-color-primary-dark-2);
  --moe-button-active-bg-color: var(--moe-button-hover-bg-color);
  --moe-button-outline-color: var(--moe-color-primary-light-5);
  --moe-button-active-color: var(--moe-text-color-primary);
  --moe-button-shadow: var(--moe-shadow-soft);
  --moe-button-shadow-hover: var(--moe-shadow-hover);
}

.moe-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--moe-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: var(--moe-transition-duration-fast) var(--moe-transition-timing-function);
  font-weight: var(--moe-button-font-weight);
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--moe-button-bg-color);
  border: var(--moe-border);
  border-color: var(--moe-button-border-color);
  padding: 8px 16px;
  font-size: var(--moe-font-size-base);
  border-radius: var(--moe-border-radius-base);
  box-shadow: var(--moe-button-shadow);
  & + & {
    margin-left: 12px;
  }
  &:hover,
  &:focus {
    color: var(--moe-button-hover-text-color);
    border-color: var(--moe-button-hover-border-color);
    background-color: var(--moe-button-hover-bg-color);
    box-shadow: var(--moe-button-shadow-hover);
    outline: none;
  }
  &:active {
    color: var(--moe-button-active-text-color);
    border-color: var(--moe-button-active-border-color);
    background-color: var(--moe-button-active-bg-color);
    outline: none;
  }
  /*plain*/
  &.is-plain {
    --moe-button-text-color: var(--moe-color-primary-dark-2);
    --moe-button-bg-color: var(--moe-fill-color-blank);
    --moe-button-border-color: var(--moe-color-primary-light-7);
    --moe-button-hover-text-color: var(--moe-color-primary-strong);
    --moe-button-hover-bg-color: var(--moe-color-primary-light-9);
    --moe-button-hover-border-color: var(--moe-color-primary-light-5);
  }
  /*round*/
  &.is-round {
    border-radius: var(--moe-border-radius-round);
  }
  /*circle*/
  &.is-circle {
    border-radius: 50%;
    padding: 8px;
  }
  /*disabled*/
  &.is-loading,
  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    color: var(--moe-button-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
    background-color: var(--moe-button-disabled-bg-color);
    border-color: var(--moe-button-disabled-border-color);
  }
  [class*='moe-icon'] {
    width: 1em;
    height: 1em;
  }
}
@each $val in primary, success, warning, info, danger {
  .moe-button--#{$val} {
    --moe-button-text-color: var(--moe-color-white);
    --moe-button-bg-color: var(--moe-color-#{$val});
    --moe-button-border-color: var(--moe-color-#{$val});
    --moe-button-outline-color: var(--moe-color-#{$val}-light-5);
    --moe-button-active-color: var(--moe-color-#{$val}-dark-2);
    --moe-button-hover-text-color: var(--moe-color-white);
    --moe-button-hover-bg-color: var(--moe-color-#{$val}-light-3);
    --moe-button-hover-border-color: var(--moe-color-#{$val}-light-3);
    --moe-button-active-bg-color: var(--moe-color-#{$val}-dark-2);
    --moe-button-active-border-color: var(--moe-color-#{$val}-dark-2);
    --moe-button-disabled-text-color: var(--moe-color-white);
    --moe-button-disabled-bg-color: var(--moe-color-#{$val}-light-5);
    --moe-button-disabled-border-color: var(--moe-color-#{$val}-light-5);

    &.is-plain {
      --moe-button-text-color: var(--moe-color-#{$val}-dark-2);
      --moe-button-bg-color: var(--moe-color-#{$val}-light-9);
      --moe-button-border-color: var(--moe-color-#{$val}-light-5);
      --moe-button-hover-text-color: var(--moe-color-white);
      --moe-button-hover-bg-color: var(--moe-color-#{$val});
      --moe-button-hover-border-color: var(--moe-color-#{$val});
      --moe-button-active-text-color: var(--moe-color-white);

      --moe-button-disabled-text-color: var(--moe-color-#{$val}-light-5);
      --moe-button-disabled-bg-color: var(--moe-color-#{$val}-light-9);
      --moe-button-disabled-border-color: var(--moe-color-#{$val}-light-8);
    }
  }
}
.moe-button--large {
  --moe-button-size: 40px;
  height: var(--moe-button-size);
  padding: 12px 19px;
  font-size: var(--moe-font-size-base);
  border-radius: var(--moe-border-radius-base);
  /*circle*/
  &.is-circle {
    border-radius: 50%;
    padding: 12px;
  }
}
.moe-button--small {
  --moe-button-size: 24px;
  height: var(--moe-button-size);
  padding: 5px 11px;
  font-size: 12px;
  border-radius: calc(var(--moe-border-radius-base) - 1px);
  /*circle*/
  &.is-circle {
    border-radius: 50%;
    padding: 5px;
  }
  [class*='moe-icon'] {
    width: 12px;
    height: 12px;
  }
}

.moe-button-group {
  display: inline-block;
  vertical-align: middle;

  &::after {
    clear: both;
  }
  & > :deep(.moe-button) {
    float: left;
    position: relative;
    margin-left: 0;
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-color: var(--moe-button-group-border-color);
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-color: var(--moe-button-group-border-color);
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;

      border-left-color: var(--moe-button-group-border-color);
      border-right-color: var(--moe-button-group-border-color);
    }
    &:not(:last-child) {
      margin-right: -1px;
    }
    &:first-child:last-child {
      border-top-right-radius: var(--moe-border-radius-base);
      border-bottom-right-radius: var(--moe-border-radius-base);
      border-top-left-radius: var(--moe-border-radius-base);
      border-bottom-left-radius: var(--moe-border-radius-base);

      &.is-round {
        border-radius: var(--moe-border-radius-round);
      }

      &.is-circle {
        border-radius: 50%;
      }
    }
  }
}
